<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donottouch3.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".P000Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001LayoutLayoutLand"></activity>

        <activity android:name=".P002onConfigurationChanged"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".P003ListVSGenerics"></activity>

        <activity android:name=".P004LayerList"></activity>

        <activity android:name=".P005ActionSEND"></activity>
        <activity android:name=".P005SEND">
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
            </intent-filter>
        </activity>

        <activity android:name=".P006AsyncTaskMantik"></activity>

        <activity android:name=".P007GridView"></activity>

        <activity android:name=".P008IntentForBroadcast"></activity>
        <receiver android:name=".receiver.P008BroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.donottouch3.myapplication.DEPREM"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".P009MenuItemOverview"></activity>

        <activity android:name=".P010CustomToastMessage"
            android:configChanges="keyboardHidden|orientation|screenLayout"></activity>

        <activity android:name=".P011Handler"></activity>

        <activity android:name=".P012AsyncTaskReview"></activity>

        <activity android:name=".P013FixOrientation"></activity>

    </application>

</manifest>
