<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donottouch3.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".P000Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001LayoutLayoutLand"></activity>

        <activity android:name=".P003ListVSGenerics"></activity>

        <activity android:name=".P004LayerList"></activity>

        <activity android:name=".P006AsyncTaskMantik"></activity>

        <activity android:name=".P007GridView"></activity>

        <activity android:name=".P008IntentForBroadcast"></activity>
        <receiver android:name=".receiver.P008BroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.donottouch3.myapplication.DEPREM"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".P009MenuItemIcice"></activity>

        <activity android:name=".P011Handler"></activity>

        <activity android:name=".P013FixOriAsync"></activity>

        <activity android:name=".P015invalidateOptionsMenu"></activity>

        <activity android:name=".P016ViewAnimator"></activity>

        <activity android:name=".P017ViewAnimSetDisplCld"></activity>

        <activity android:name=".P019CardView"></activity>

        <activity android:name=".P020StyleAndThemeForOneView"></activity>

        <activity android:name=".P021ViewPager"></activity>

        <activity android:name=".P022FrameLayoutProgrammatically"></activity>

        <activity android:name=".P023ViewPager"></activity>

        <activity android:name=".P024AsyncTask"/>

    </application>

</manifest>
